<!DOCTYPE html>
<html>
    <head>
        <title>IPM System Backend Server</title>
    </head>
    <body>
        <h1>IPM System Backend Server</h1>
        <h3>&copy;2025 Wispurr</h3>
        <hr />

        <div id="uploads">
            <h2>Upload Image</h2>
            <form
                action="/analyze-image-ui"
                enctype="multipart/form-data"
                method="post"
            >
                <input type="file" name="file" accept="image/*" required />
                <input type="submit" value="Upload Image" />
            </form>
        </div>

        {% if uploads %}
        <h3>Uploaded Files:</h3>
        <ul>
            {% for f in uploads %}
            <li><a href="/uploads/{{ f }}">{{ f }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        <h2>即時攝影機串流</h2>
        <img id="stream" width="640" height="480" />
        <script>
            const ws = new WebSocket(
                "ws://" + location.host + "/stream/ws/image"
            );
            ws.onmessage = function (event) {
                document.getElementById("stream").src =
                    "data:image/jpeg;base64," + event.data;
            };
            ws.onclose = function () {
                alert("WebSocket 已關閉");
            };
        </script>
    </body>
</html>
